:root {
<<<<<<< HEAD
  --samp: 30deg;
=======
>>>>>>> master
  --woof: #330330;
}

::selection {
  background: plum;
  color: indigo;
}

:not(:active) {
  opacity: 0.909;
  transition: opacity 33ms ease-in-out;
}

:focus,
:active {
  opacity: 1;
}

:any-link {
  color: thistle;
<<<<<<< HEAD
  transition-property: background-color color filter opacity;
=======
  transition-property: opacity color background;
>>>>>>> master
}

html {
  background: indigo;
  color: plum;
  transition: 30ms;
}

<<<<<<< HEAD
samp,
=======
>>>>>>> master
mark {
  background: magenta;
  color: var(--woof);
}

<<<<<<< HEAD
samp {
  filter: hue-rotate(var(--samp));
}

=======
>>>>>>> master
@media (prefers-contrast: more) {
  :root {
    background: var(--woof);
    color: thistle;
  }

  :any-link {
    color: lavender;
  }
}
